* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../../../public/images/logo/logo.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 90%; /* Geniş ekranlarda 90% oranında yer kaplar */
    max-width: 600px; /* Maksimum genişlik sınırlaması */
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 10px;
    padding: 2rem; /* Rem birimi daha ölçeklenebilir */
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.wrapper h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    margin: 1rem 0;
}

.input-box input {
    width: 100%;
    height: 3rem;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    font-size: 1rem;
    color: white;
    padding: 0.5rem 1rem;
}

.input-box input::placeholder {
    color: white;
}

.input-box svg {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin: 0.5rem 0;
}

.remember-forgot label input {
    accent-color: white;
    margin-right: 0.5rem;
}

.remember-forgot a {
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 2.5rem;
    background: white;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1rem;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0;
}

.register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}
