.masonry-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 4em auto 0 auto;
  }
  
  .masonry-column {
    background-clip: padding-box;
  }
  
  /* Grid item spacing */
  .masonry-column > div {
    margin-bottom: 1.5rem;
  }