.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    padding: 0.8rem 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    text-align: left;
    color: black;
  }
  
  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    color: black;
    list-style: none;
  }
  
  .dropdown-item {
    padding: 0.8rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    color: black;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }

  .dropdown-button:hover {
    background-color: #ddd;
}
  