.content-data {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.content-data h4 {
    font-size: 3rem;
    color: #333;
    margin: 10px 0;
    color: #007bff; /* Blue color */

}

.content-data .count {
    font-size: 2rem; /* Larger font size for counts */
    color: #007bff; /* Blue color */
    font-weight: bold;
    animation: fadeIn 1s ease-in-out;
    font-size: 6rem;
}

/* Optional animation for numbers */
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.5); }
    to { opacity: 1; transform: scale(1); }
}
