.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 500px; /* Increased width */
    height: 100vh;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px; /* Pin content to the left */
  }
  
  .logo {
    width: 200px; /* Resmin genişliği */
    height: 200px; /* Resmin yüksekliği */
    border-radius: 50%; /* Daire şekli için */
    object-fit: cover; /* Resmin boyutunu kapsar ve dairesel çerçeveye sığmasını sağlar */
    border: 10px solid #ccc; /* İsteğe bağlı çerçeve rengi ve kalınlığı */
    margin: 2rem;
  }

  .logo-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-part {
    width: 280px; /* Increased profile picture size */
    height: 120px;
    margin-bottom: 30px;
    align-self: left;
    display: flex;
  }

  .profile-image {
    width: 150px; /* Resmin genişliği */
    height: 150px; /* Resmin yüksekliği */
    border-radius: 50%; /* Daire şekli için */
    object-fit: cover; /* Resmin boyutunu kapsar ve dairesel çerçeveye sığmasını sağlar */
    margin-right: 2rem;
  }

  .user-info{
    font-size: 25px;
  }
  
  .round-frame {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #555;
  }
  
  .menu-item {
    width: 100%;
    padding: 15px; /* Increased padding for larger buttons */
    text-align: left; /* Pin text to the left */
    border: none;
    background: none;
    color: #fff;
    font-size: 1.3rem; /* Increased font size */
    cursor: pointer;
    font-size: 30px;
  }
  
  .menu-item:hover, .submenu-item:hover {
    background-color: #444;
  }
  
  .submenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px; /* Indentation for submenu */
  }
  
  .submenu-item {
    width: 100%;
    padding: 12px;
    text-align: left;
    background: none;
    color: #bbb;
    font-size: 1.1rem; /* Increased font size */
    cursor: pointer;
    border: none;
    font-size: 25px;
  }
  