.book-lists {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  width: calc(100% - 200px); /* Sidebar için boşluk bırakıldı */
}

.book-category {
  width: 100%;
}

.book-category h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 15px;
}

.book-list {
  display: flex;
  gap: 20px;
  overflow: hidden; /* Kaydırma çubuğu gizleniyor */
  cursor: grab; /* Kullanıcıya sürüklenebilir olduğunu gösterir */
}

.book-list:active {
  cursor: grabbing;
}

.book-card {
  min-width: 300px;
  max-width: 300px;
  min-height: 600px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  transition: transform 0.3s ease;
  user-select: none;
}

.book-card:hover {
  transform: translateY(-5px);
}

  
  .book-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .book-details {
    padding: 20px;
  }
  
  .book-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  .book-author,
  .book-pages,
  .book-genre {
    font-size: 1.1rem;
    color: #666;
    margin: 3px 0;
  }
  