.navbar {
    margin-left: 500px; /* Match sidebar width */
    height: 120px;
    display: flex;
    align-items: center;
    background-color: #222;
    color: #fff;
    padding-left: 20px;
  }
  
  .navbar-item {
    margin-right: 20px;
    padding: 10px 15px;
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    text-transform: capitalize;
    font-size: 30px;
  }
  
  .explore {
    font-weight: bold;
    margin-left: 20px;
    margin-right: 30px;
    font-size: 50px;
    padding: 50px;
  }
  
  .navbar-item:hover {
    background-color: #444;
  }
  